body
{
  margin:0;
  padding:0;
  font-family:sans;
}

body div.header
{
  padding-left:1em;
}

body div.header h1
{
  margin:0;
}

body div.browser-bar
{
  background:navy;
  padding:0.3em 1em;
  padding-right:2em;
  color:white;
}

body div.browser-bar label
{
  font-weight:bold;
}

body div.browser-bar select
{
  margin-right:1em;
}

body div#content-box
{
  padding:0 0.7em;
}

body div.browser-bar div.query-box{
  float:right;
}

/* RECORD STYLES */

body div.browser-box div.record
{
  background:#E3E3E6;  
  padding:0.1em 0.7em;
  margin-bottom:0.3em;  
}

body div.browser-box div.record div.field
{
  color:blue;
  font-weight:bold;
}

body div.browser-box div.record div.value
{
}

body div.browser-box div.record div.record-control-bar
{
  float:right;
}

/* UNORDERED LIST */
body div.browser-box div.unorderedlist
{
  background:lightgreen; 
  padding:0.1em 0.7em;
  margin-bottom:0.3em;
}


/* ORDERED LIST */
body div.browser-box div.orderedlist
{
  background:lightblue;
  padding:0.1em 0.7em;
  margin-bottom:0.3em;  
}


