<div ng-show="browsing.dataverse">
  <h1>Creating New Datatype</h1>
  <form ng-submit="createDatatype()">
    <label>DataType Name</label><input ng-model="dataTypeForm.name"><br>
    <label>Open Datatype?</label><input type="checkbox" ng-model="dataTypeForm.isOpen">
    <table border="1">
      <tr>
        <th>Field Name</th>
        <th>Field Type</th>
        <th>Optional</th>
      </tr>
      <tr ng-repeat="f in dataTypeForm.fields">
        <td>{{f.name}}</td>
        <td>{{f.type}}</td>
        <td>{{f.isOptional}}</td>
        <td>
          <button ng-click="dataTypeForm.removeField($index)">X</button>
        </td>
      </tr>
    </table>
    <button type="submit">Create Datatype</button>
  </form>

  <fieldset>
    <legend>New Field</legend>
    <label>Field Name:</label> <input ng-model="dataTypeForm.newFieldName" type="text">
    <label>Field Type:</label>
    <select ng-model="dataTypeForm.newFieldType">
      <option value="string">String</option>
      <option value="int8">Int8</option>
      <option value="int16">Int16</option>
      <option value="int32">Int32</option>
      <option value="int64">Int64</option>
      <option value="float">Float</option>
      <option value="double">Double</option>
      <option value="point">Point</option>
      <option value="line">Line</option>
      <option value="circle">Circle</option>
      <option value="polygon">Polygon</option>
      <option value="date">Date</option>
      <option value="time">Time</option>
      <option value="datetime">Date/Time</option>
      <option value="interval">Interval</option>
      <option value="record">Record</option>
      <option value="unorderedList">Unordered List</option>
      <option value="orderedList">Ordered List</option>
    </select>
    <label>Optional</label><input type="checkbox" ng-model="dataTypeForm.newFieldOptional">
    <input type="button" value="Add Field" ng-click="dataTypeForm.addField()">
  </fieldset>  
</div>

