<!DOCTYPE html>
<html ng-app="asterface">
  <head>
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>  
    <script type="text/javascript" src="/static/js/asterix-sdk-stable.js"></script>
    <script type="text/javascript" src="/static/js/angular.js"></script>
    <script type="text/javascript" src="/static/js/asterix-parser.js"></script>
    <script type="text/javascript" src="/static/js/asterix-manager.js"></script>
    <link rel="stylesheet" href="/static/css/manager.css">
  </head>
  <body ng-controller="AsterfaceCtrl">
    <div class="header">
      <h1>Asterix Console</h1>
    </div>
    
    <div class="browser-bar">
      <label for="dataverse-selector">Dataverse</label>
	    <select name="dataverse-selector" ng-model="currentDataverse" ng-change="loadDataverse()">
		    <option ng-repeat="dv in dataverses" value="{{dv}}">
			    {{dv}}
		    </option>
	    </select>
      
      <label for="dataset-selector">Dataset</label>
      <select name="dataset-selector" ng-model="currentDataset" ng-change="loadDataset()">
        <option ng-repeat="ds in datasets" value="{{ds}}">
          {{ds}}
        </option>
      </select>
      
      <label for="ipp">Records Per Page</label>
      <input type="number" name="numdata-selector" ng-model="itemsPerPage" ng-change="loadDataset()">
      
      <label for="page">Page</label>
      <input type="number" name="page" ng-model="page" ng-change="loadDataset()">
      
      <div class="query-box" ng-submit="loadQuery()">
        <form>
        <input type="text" ng-model="query">
        <input type="submit" value="Query!">
        </form>
      </div>
    </div>
    
    <div class="browser-box">
      <div ng-repeat="r in records" class="record">
        <div ng-repeat="(k, v) in r" class="datum">
          <div class="field">{{ k }} </div>
          <div class="value">{{ v }}</div>
        </div>
      </div>
    </div>

  </body>
</html>
